h1{
    color:#00b5ad;
    text-align: center;
    }
    p,h1{
        font-size: 20px;
    }
    .ui.text.container{
        font-size: 20px;
    }
    /* .aboutIcon{
    box-shadow:5px 10px 18px #888888 ;
    } */
    